<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>JavaScript Text-to-Speech App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/web-speech.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>

  <body>
   
  <div class="container">
    <h3>speech translation</h3>
    <div class="wrapper">
        <form action="/" method="POST">
            <input type="text" name="text">
            <h4>From</h4>
                <select class="select" name="from">
                    <option>en</option>
                    <option>ar</option>
                    <option>fr</option>
                </select>
            <h4>To</h4>
                <select class="select" name="to">
                    <option>en</option>
                    <option>ar</option>
                    <option>fr</option>
                </select>
             
    </div>
    <input type="submit">
</form>
{%if test3 %}
     {{test3}}
{% endif %}
</div>



















</div>


  </body>
</html>
